<!DOCTYPE html>
<html>
  <head>
    <title>thanh toan</title>
    <link rel="stylesheet" href="styles/checkout.css">
  </head>
  <body>
    <div class="checkout-header">
      <div class="space-logo">
        <img src="picture/Picture1.png" class="logo">
      </div>
      <div class="right-section">
        <h2 class="thanh-toan">Thanh Toán</h2>
      </div>
    </div>
    

    <div class="main">
      <div class="page-title">Đơn hàng của bạn</div>
      
      <div class="container-grid">
        
        <div class="container js-container">
          <% cart.forEach(item => { %>
            <div class="product-container-grid js-product-container-grid-<%= item.product.price %>">
              <img src="<%= item.product.image %>" class="product-image">
              <div class="product-info">
                <div class="product-name"><%= item.product.name %></div>
                <div class="product-price"><%= (item.product.price/1000).toFixed(3) %>đ</div>
                <div class="product-quantity">Số lượng: <%= item.quantity %> <span class="delete-link js-delete-link" data-product-price="<%= item.product.price %>">Delete</span></div>
              </div>
            </div>
          <% }); %>

      </div>
      
      <div class="order">
        <div class="order-container">
          <div class="order-title">Order summary</div>
          <div class="order-price js-order-price">
            <div class="order-price-grid">
              <div>Sản phẩm:</div>
              <div><%= (totalPrice/1000).toFixed(3) %>đ</div>
            </div>
            <div class="order-price-grid">
              <div>Phí vận chuyển:</div>
              <div>10.000đ</div>
            </div>
            <div class="order-price-grid">
              <div>Tổng tiền (chưa tính thuế):</div>
              <div><%= ((totalPrice + 10000)/1000).toFixed(3) %>đ</div>
            </div>
            <div class="order-price-grid">
              <div>Thuế (10%):</div>
              <div><%= (((totalPrice + 10000)/1000)*0.1).toFixed(3) %>đ</div>
            </div>
            <hr>
            <div class="order-price-grid total-price">
              <div>Tổng tiền:</div>
              <div><%= ((totalPrice + 10000)/1000 + ((totalPrice + 10000)/1000)*0.1).toFixed(3) %>đ</div>
            </div>
            <a href="pay"><button class="buy-button">Đặt đơn hàng</button></a>
          </div>
        </div>
      </div>
        
      </div>
    </div>
    
    
    <script type="module" src="scripts/checkout.js"></script>

  </body>
</html>